@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	justify-content: center;
}


.banner {
	position: relative;
	width: 100%;
	height: 100vh;
	background: #3475ca;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner header {
	padding: 20px 50px;
}

.banner .content h2 {
	font-size: 60px;
	color: white;
}

.banner .content p {
	color: #fff;
}

.banner img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.25;
}

.banner .content {
	position: relative;
	max-width: 750px;
	text-align: center;
}

.banner .content p {
	color: #fff;
	font-size: 18px;
}

.banner header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

.banner header .logo {
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}

.banner header .toggle {
	position: relative;
	width: 36px;
	height: 28px;
	background: url(toggle.png);
	background-size: cover;
	cursor: pointer;
}

.about {
	position: relative;
	width: 100%;
	display: flex;
}

.about .contentBx {
	background: #162c3b;
	padding: 100px;
	width: 50%
}

.heading {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.text {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
}

.about .imgBx {
	background: url(about.jpg);
	width: 50%;
	background-size: cover;
	background-position: center;
}

.services {
	background: #3498DB;
	padding: 100px;
	text-align: center;
	justify-content: center;
}


.container {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 60px auto;
}

.box {
	position: relative;
	width: 300px;
	height: 400px;
	background: #000;
	box-shadow: 0 30px 30px rgba(0,0,0,0.5);

}

.box .imgBx {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

}

.box .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
    transition: 0.5s;

}

.box:hover .imgBx img {
	opacity: 0;
}

.box .content {
	position: absolute;
	bottom: 20px;
	left: 10%;
	width: 80%;
	height: 60px;
	background: #fff;
	transition: 0.5s;
	overflow: hidden;
	padding: 15px;
	box-sizing: border-box;

}

.box:hover .content {
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
}

.box .content h2 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	text-align: center;
}

.box .content p {
	margin: 10px 0 0;
	padding: 0;
	opacity: 0;
	line-height: 1.2em;
	transition: 0.5s;
	text-align: justify;
}

.box:hover .content p {
	opacity: 1;
	transition-delay: 0.5s;
}

.contact {
	padding: 100px;
	background: #8E44AD;
	text-align: center;
}

.imgBx2 {
	background: url(contact.jpg);
	background-size: cover;
	background-position: center;
	width: 50%;
}

.redbg {
	background: url(red.jpg) !important;
	background-size: cover;
	background-position: center;
}

.form .inputBx {
	margin-bottom: 40px;
}

.form .inputBx input {
	width: 100%;
	background: transparent;
	box-shadow: none;
	border: none;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	border-bottom: 2px solid #fff;
}

.form .inputBx input::placeholder {
	color: #fff;
}

.form .inputBx textarea {
	width: 100%;
	background: transparent;
	box-shadow: none;
	border: none;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	min-height: 150px;
	color: #fff;
	border-bottom: 2px solid #fff;
}

.form .inputBx textarea::placeholder {
	color: #fff;
}

.form .inputBx input[type="submit"]
{
	width: 150px;
	background: #fff;
	color: #111;
	cursor: pointer;
	font-weight: 400;
}

.footer {
	background: #17202A;
	text-align: center;
	font-size: 500px;
	color: #FDFEFE;
	letter-spacing: 1px;
}

@media (max-width: 991px) 
{
	.banner {
		padding: 50px;
	}
	.banner header {
		padding: 20px 50px;
	}
	.banner .content h2 {
		font-size: 36px;
	}
	.banner .content p { 
		font-size: 16px;
	}
	.about {
		flex-direction: column;
	}
	.about .contentBx,
	.about .imgBx ,
	.about .imgBx2 {
		width: 100%;
		padding: 50px;
		min-height: 400px;
		text-align: center;
	}
	.services {
		padding: 50px;
	}
	.services .container {
		justify-content: center;
		margin-top: 20px;
	}
	.services .container .box {
		margin: 20px;
		width: 300px;
		height: 350px;
	}
	.contact{
		padding: 50px;
	}
	.footer {
		padding: 20px 50px;
		flex-direction: column-reverse;
		text-align: center;
	}
}



